<footer class="bg-spooky-orange text-white text-center px-8 mt-auto">
  <small>Hecho con ❤️ por <a class="underline" href="https://linkedin.com/in/gordillofernando" target="_blank">Fernando Gordillo</a>. Powered by <a class="underline" href="https://astro.build" target="_blank">Astro</a> and <a class="underline" href="https://cloudinary.com" target="_blank">Cloudinary</a>.</small>
</footer>