---
import { ViewTransitions } from 'astro:transitions';
import LanguageSelector from '../components/LanguageSelector.astro';
import Footer from '../components/Footer.astro';


interface Props {
	title: string;
  lang: string;
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="PETSPOOKIFY - Halloween Image Transformation App" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-white min-h-screen transition-colors duration-300">
    <LanguageSelector currentLanguage={lang} />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 255, 102, 0;
    --accent-light: 255, 153, 102;
    --accent-dark: 204, 51, 0;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
